/* src/styles/AdminPanel.css */
.admin-container {
    margin: 20px;
  }
  
  .product-form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
  }
  
  .product-form {
    display: flex;
    flex-direction: column;
  }
  
  .product-form label {
    font-weight: bold;
    margin: 10px 0 5px;
  }
  
  .product-form input,
  .product-form textarea {
    padding: 10px;
    margin: 5px 0 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  .product-form button {
    padding: 12px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .product-form button:hover {
    background-color: #0056b3;
  }
  
  .delete-button {
    background-color: #dc3545;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .delete-button:hover {
    background-color: #c82333;
  }
  
  .product-item {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .product-item h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .product-item p {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  .product-item span {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .product-item .buy-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
  }
  
  .product-item .buy-button:hover {
    background-color: #0056b3;
  }
  