/* Estilo global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f4f7fa;
  color: #333;
}


.admin h1 {
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
  color: #343a40;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.admin-page .product-list {
  display: grid;
  gap: 30px;
  margin-top: 40px;
  padding: 0 20px;
  width: auto;
}

.product-card {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;
}

.product-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}
.product-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-bottom: 5px solid #007bff;
}

.product-card h3 {
  font-size: 1.6rem;
  color: #495057;
  padding: 15px 10px;
  font-weight: 600;
}

.product-card p {
  font-size: 1rem;
  color: #868e96;
  padding: 0 10px 15px;
  flex-grow: 1;
}

.product-card button {
  background-color: #007bff;
  color: white;
  font-size: 1rem;
  border: none;
  padding: 12px 0;
  margin: 15px 10px 10px;
  border-radius: 25px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-weight: 600;
}

.product-card button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.create-product {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 40px auto;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.create-product:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
}

.create-product input {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 1rem;
  background-color: #f8f9fa;
}

.create-product button {
  width: 100%;
  padding: 15px;
  background-color: #28a745; /* Verde */
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.admin .create-product button:hover {
  background-color: #218838;
  transform: translateY(-2px);
}

.product-item{
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
}
.product-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.product-item:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.product-item button {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 50px; /* Borda arredondada */
  color: #fff;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: auto;
  max-width: 80%;
  margin-top: 10px;
}

.product-item button::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #691515; /* Cor de fundo do botão */
  border-radius: 50px; /* Mantém bordas arredondadas */
  z-index: -2;
}

.product-item button::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #be1e1e; /* Tom mais escuro de verde no hover */
  transition: all 0.3s;
  border-radius: 50px;
  z-index: -1;
}
.product-item button:hover {
  color: #fff;
}

.admin .product-item button:hover::before {
  width: 100%;
}

