.cart {
    padding: 50px 0;
    background-color: #fff;
  }
  
  .cart h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
    font-size: 36px;
  }
  
  .cart-item {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    align-items: center;
  }
  
  .cart-item p {
    color: #333;
    font-size: 18px;
    font-weight: 500;
  }
  
  .cart-item button {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 50px; /* Borda arredondada */
    color: #fff;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: auto;
    max-width: 80%;
    margin-top: 10px;
  }
  
  .cart-item button::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #691515; /* Cor de fundo do botão */
    border-radius: 50px; /* Mantém bordas arredondadas */
    z-index: -2;
  }
  
  .cart-item button::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #be1e1e; /* Tom mais escuro de verde no hover */
    transition: all 0.3s;
    border-radius: 50px;
    z-index: -1;
  }
  
  .cart-item button:hover {
    color: #fff;
  }
  
  .cart-item button:hover::before {
    width: 100%;
}
  
  .cart-summary {
    background-color: #f4f4f9;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
    text-align: center;
  }
  
  .cart-summary p {
    font-size: 20px;
    color: #333;
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  .cart-summary .total {
    font-size: 24px;
    font-weight: 700;
    color: #333;
    margin-bottom: 20px;
  }
  
  .cart-summary button {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 50px; /* Borda arredondada */
    color: #fff;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: auto;
    max-width: 80%;
    margin-top: 10px;
  }
  
  .cart-summary button::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #28a745; /* Cor de fundo do botão */
    border-radius: 50px; /* Mantém bordas arredondadas */
    z-index: -2;
  }
  
  .cart-summary button::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #218838; /* Tom mais escuro de verde no hover */
    transition: all 0.3s;
    border-radius: 50px;
    z-index: -1;
  }
  
  .cart-summary button:hover {
    color: #fff;
  }
  
  .cart-summary button:hover::before {
    width: 100%;
}