.home {
  background-color: #f7f7f7; /* Cinza claro */
  color: #333333; /* Texto escuro para boa legibilidade */
  font-family: 'Arial', sans-serif;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 50px auto;
  text-align: center;
}

/* Estilo para os títulos */
.home h1 {
  font-size: 2.5em;
  color: #333333; /* Texto escuro */
  margin-bottom: 20px;
}

/* Estilo para os parágrafos */
.home p {
  font-size: 1.2em;
  margin-bottom: 15px;
  line-height: 1.5;
  color: #555555; /* Texto um pouco mais claro que o título */
}

/* Estilo para links (se necessário, ex: se você adicionar uma seção de navegação) */
.home a {
  color: #007BFF; /* Azul claro */
  text-decoration: none;
}

.home a:hover {
  text-decoration: underline;
}