/* src/styles/HomePage.css */
.home-page {
    text-align: center;
    padding: 50px;
    background-color: #f9f9f9;
  }
  
  .home-page-header h1 {
    font-size: 3rem;
    color: #333;
  }
  
  .home-page-header p {
    font-size: 1.5rem;
    color: #777;
  }
  
  .home-page-content h2 {
    font-size: 2rem;
    color: #333;
  }
  
  .home-page-content p {
    font-size: 1.2rem;
    color: #555;
  }
  
  .home-page-content button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .home-page-content button a {
    text-decoration: none;
    color: white;
  }
  
  .home-page-content button:hover {
    background-color: #0056b3;
  }
  