.home {
  background-color: #f7f7f7;
  color: #333333;
  font-family: 'Arial', sans-serif;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 50px auto;
  text-align: center;
}

.home h1 {
  font-size: 2.5em;
  color: #333333;
  margin-bottom: 20px;
}

.home p {
  font-size: 1.2em;
  margin-bottom: 15px;
  line-height: 1.5;
  color: #555555;
}

.home a {
  color: #007BFF;
  text-decoration: none;
}

.home a:hover {
  text-decoration: underline;
}