.cart-button {
  position: fixed;
  top: 140px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #3d3f3d;
  color: white;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 50px;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  z-index: 1000;
}

.cart-button:hover {
  background-color: #218838;
  transform: translateX(-50%) scale(1.05);
}

.cart-button:focus {
  outline: none;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.product-card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
}
.product-card-link{
  text-decoration: none;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}

.product-card h3 {
  margin-bottom: 10px;
  color: #333;
}

.product-card p {
  font-size: 1rem;
  margin: 5px 0;
  color: #666;
}

.product-card button {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  color: #fff;
  background-color: #28a745;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  width: auto;
  max-width: 80%;
  margin-top: 10px;
  border: none;
}

.product-card button::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #218838;
  border-radius: 50px;
  z-index: -2;
}

.product-card button::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #218838;
  transition: all 0.3s;
  border-radius: 50px;
  z-index: -1;
}

.product-card button:hover {
  color: #fff;
}

.product-card button:hover::before {
  width: 100%;
}
