.cart-button {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #3d3f3d;
  color: white;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 50px;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  z-index: 1000; 
}

.products {
  position: relative; 
  width: 100%;
}

.container {
  padding: 20px;
  text-align: center;
  position: relative;
  width: 100%;
}

.container h1 {
  margin-bottom: 20px; 
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  padding-top: 120px;
}
